.blogDropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  h2 {
    background: rgb(243, 247, 250);
    border-radius: 1rem;
    opacity: 0.95;
    font-size: 1rem;
  }
}
