@use '../../styles/variables' as s;

.dropdownContainer {
  width: 100%;
  position: absolute;
  overflow-y: auto;
  max-height: 92vh;
  left: 0;
  top: 100%;
  background: s.$secondary-background-color;
  border: 1px solid s.$border-color;
  box-shadow: -1px 8px 12px -4px s.$box-shadow;
  animation: showDropdown 0.2s ease-out;
  @include s.mobile-view {
    color: black !important;
  }
}

@keyframes showDropdown {
  0% {
    opacity: 0.3;
    transform: scaleY(70%);
    transform-origin: top;
  }
  100% {
    transform: scaleY(100%);
    transform-origin: top;
  }
}
