@use "../../styles/variables.scss" as s;

.header {
  flex: 0;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
  top: 0;
  left: 0;
  box-shadow: 0 -1rem 1.5rem s.$box-shadow;
  padding: 0.8rem 2rem;
  transition-duration: 1s;
  z-index: 1;
  transition: .1s;
  &:hover {
    background: s.$secondary-background-color;
    transition-duration: .5s;
  }
}

.headerContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  gap: 1rem;
  font-weight: 700;
  @include s.mobile-view {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.hide {
  top: -10px;
  opacity: 0;
  z-index: -1;
  transition: .1s;
}