@use "../../styles/variables.scss" as s;

.header {
  flex: 0;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  background: white;
  top: 0;
  left: 0;
  box-shadow: 0 -1rem 1.5rem s.$box-shadow;
  padding: 1rem 8rem 1rem 3rem;
  transition-duration: 1s;
  z-index: 1;
  transition: .1s;
  white-space: nowrap;
  &:hover {
    background: s.$secondary-background-color;
    transition-duration: .5s;
  }
}

.hide {
  top: -10px;
  opacity: 0;
  z-index: -1;
  transition: .1s;
}