$contentMargin: 1rem;

.headerLinkContainer {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
  h1 {
    font-size: 1.5rem;
  }
  .shopLink {
    border: none;
    background: none;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    &:hover,
    &:focus {
      cursor: pointer;
      &::before {
        cursor: default;
        position: absolute;
        top: 100%;
        right: -$contentMargin;
        height: 50%;
        text-align: center;
        content: "";
        width: 100%;
        padding: 0.5rem $contentMargin;
      }
    }
  }
}
