@use '../../styles/variables' as s;
$contentMargin: 1rem;

.headerLinkContainer {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
  @include s.mobile-view {
    gap: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .dropdownLink {
    border: none;
    background: none;
    font-size: 1rem;
    position: relative;
    &:hover,
    &:focus {
      &::after {
        cursor: pointer;
        position: absolute;
        top: -100%;
        right: -$contentMargin;
        height: 150%;
        text-align: center;
        content: "";
        width: 100%;
        padding: 1rem $contentMargin;
      }
    }
  }
  .hamburger {
    position: relative;
    top: -.15rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}
