@use '../../styles/variables' as s;
$contentMargin: 1rem;

.headerLinkContainer {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
  h1 {
    align-self: flex-start;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    position: relative;
    bottom: 0.15rem;
  }
  .dropdownLink {
    border: none;
    background: none;
    font-size: 1rem;
    position: relative;
    &:hover,
    &:focus {
      &::after {
        cursor: pointer;
        position: absolute;
        top: -100%;
        right: -$contentMargin;
        height: 150%;
        text-align: center;
        content: '';
        width: 100%;
        padding: 1rem $contentMargin;
      }
    }
  }
  .hamburger {
    cursor: pointer;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
  .activeBasePath {
    color: #01a232;
    font-weight: 600;
    font-size: 1.1rem;
  }
  @include s.mobile-view {
    gap: 1rem;
  }
}
