@use '../../styles/variables' as s;

.rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  position: relative;
  .cartButtonContainer {
    position: relative;
    top: 0.15rem;
  }
  .userMenu {
    font-size: 1.1rem;
    position: relative;
    &:hover {
      cursor: pointer;
    }
  }
  .headerLinkContainer {
    flex: 1;
    display: flex;
  }
  @include s.mobile-view {
    gap: 0;
    .userMenu {
      font-size: 0.95rem;
    }
  }
}
