$border-color: #f7f6f6;

.shopNav {
  display: grid;
  justify-content: center;
  grid-template: 1fr / repeat(auto-fit, minmax(150px, 250px));
  padding: 1rem 0;
  .linksListWrapper {
    &:first-of-type {
      border-left: 2px solid $border-color;
    }
    border-right: 2px solid $border-color;
    padding: 0 2rem;
  }
}
