.dropdownContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 2.5rem;
  right: 0rem;
  border-radius: 0.2rem;
  background: rgb(243, 242, 242);
  border: 1px solid rgb(213, 209, 209);
  color: rgb(40, 40, 40);
  h3 {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.8rem 0.7rem 0.5rem 0.7rem;
    border-bottom: 1px solid rgb(229, 229, 229);
    color: gray;
    pointer-events: none;
  }
  nav {
    display: flex;
    flex-direction: column;
    .menuItem {
      display: flex;
      align-items: center;
      min-width: 200px;
      padding: 1rem 0;
      border-radius: 0.2rem;
      padding: 0.5rem 1rem;
      font-size: 0.85rem;
      svg {
        position: relative;
        margin-right: 0.3rem;
        color: #040679;
      }
      &:hover {
        background: rgb(82, 128, 255);
        color: white;
        svg {
          color: white;
        }
      }
    }
  }
  .logoutButton {
    border-top: 1px solid rgb(229, 229, 229);
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: start;
    &:hover {
      cursor: pointer;
      color: white;
      background: rgb(221, 87, 9);
    }
  }
}
