.sliderContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
  .flipIcon {
    transform: rotate(180deg);
  }
  button {
    background: none;
    border: none;
    .arrowIcons {
      cursor: pointer;
    }
  }
}