.sliderContainer {
  display: flex;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  .sliderContent {
    display: flex;
    gap: 2rem;
  }
  .flipIcon {
    transform: rotate(180deg);
  }
  .arrowIcons {
    background: none;
    color: black;
    &:hover {
      color: gray;
    }
  }
}
