.listFigure {
  ul {
    font-weight: 500;
    padding: 0.5rem 0 0 0.5rem;
    li {
      list-style: none;
      a {
        &:hover {
          color: gray;
        }
      }
    }
  }
  figcaption {
    text-align: center;
    font-weight: 600;
  }
}
