.collapsibleContainer {
  display: flex;
  flex-direction: column;
  .collapseController {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    color: black;
    .reverseIcon {
      transform: rotate(180deg);
    }
  }
  .collapsedNodes {
    display: none;
  }
}
