.blogCardContainer {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  max-width: 350px;
  border-radius: 1em;
  text-align: center;
  box-shadow: 0 0 8px -4px rgb(109, 109, 109);
  background: white;
  .blogImage {
    width: 105%;
    img {
      border-radius: 1rem;
    }
  }
  h1 {
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
  }
  p {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
