@use "../../styles/variables" as s;

.formContainer {
  text-align: center;
  padding: 1rem 5rem 1rem 5rem;
  .errorMessage {
    color: red;
    font-size: 0.8rem;
  }
  .inputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 1rem 0;
    @include s.mobile-view {
      .inputContainer {
        grid-template: auto / 1fr !important;
        text-align: start !important;
        gap: 0.1rem !important;
      }
    }
    .inputContainer {
      display: grid;
      grid-template: auto / 70px auto;
      gap: 0.5rem;
      text-align: end;
      align-items: center;
      font-size: 0.8rem;
    }
  }
}
