@use "../../styles/variables" as s;

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 2rem 5rem 3rem 5rem;
  @include s.mobile-view {
    .inputContainer {
      grid-template: auto / 1fr !important;
      text-align: start !important;
      gap: 0.1rem !important;
    }
  }
  .inputContainer {
    display: grid;
    grid-template: auto / 70px auto;
    gap: 0.5rem;
    text-align: end;
    align-items: center;
    font-size: 0.8rem;
  }
}
