@use "../../styles/variables" as s;

.formContainer {
  text-align: center;
  padding: 1rem 5rem 1rem 5rem;
  .bannerError {
    font-size: 1rem;
    color: red;
  }
  .inputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 1rem 0;
    .inputContainer {
      display: grid;
      grid-template: 1fr / auto auto;
      gap: 0.5rem;
      text-align: end;
      align-items: center;
      font-size: 0.8rem;
    }
  }
  @include s.mobile-view {
    padding: 1rem 2rem;
    .inputsContainer {
      align-items: center;
      .inputContainer {
        grid-template: auto / 1fr !important;
        text-align: start !important;
      }
    }
  }
}