.table {
  width: 80%;
  text-align: left;
}
.header {
  input {
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: 2px solid rgb(219, 216, 216);
    margin: 0.5rem 0;
  }
}
.td {
  border: 1px solid rgb(219, 216, 216);
  padding: 0rem 0.5rem;
  border-radius: 0.4rem;
}
.th {
  padding: 0.5rem 0.3rem;
  border-radius: 0.2rem;
  position: relative;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  button {
    color: black;
  }
}
