.cartItem {
  padding: 1rem 2rem;
  .itemHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 1.1rem;
      font-weight: 500;
      white-space: normal;
    }
    position: relative;
    .closeButton {
      position: absolute;
      right: -1.5rem;
      padding: 0;
    }
    margin-bottom: 0.5rem;
  }
  .manageQuantities {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
    button {
      display: flex;
      padding: 0;
      color: white;
      background: rgb(46, 57, 255);
      &:hover {
        background: rgb(24, 35, 249);
      }
    }
    input[type="text"] {
      width: 2rem;
      text-align: center;
    }
  }
}
