.cartContentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  height: 100%;
  overflow: auto;
  .cartMain {
    flex: 1;
  }
  li {
    list-style: none;
    margin-bottom: 1.5rem;
    &:last-of-type {
      margin-bottom: 3rem;
    }
  }
  .cartSummary {
    padding-top: 1rem;
    border-top: 2px solid black;
    flex: 0;
    display: flex;
    justify-content: space-between;
  }
}