.cartButton {
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
  span {
    position: absolute;
    left: 18px;
    bottom: 20px;
    background: orange;
    padding: 0.2rem 0.2rem 0.1rem 0.2rem;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 0.7rem;
  }
  p {
    display: none;
  }
  &:hover,
  &:focus {
    background: rgb(255, 255, 179);
    border-radius: 2rem;
    svg {
      color: rgb(106, 47, 47);
    }
    span {
      color: black;
    }
  }
}
