.cartButton {
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
  p {
    position: absolute;
    left: 10px;
    bottom: 15px;
    background: orange;
    padding: 0.2rem 0.25rem 0 0.3rem;
    border-radius: 2rem;
    font-weight: 600;
  }
}
