@use '../../styles/variables' as s;

.sheetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 100%;
  color: white;
  h2 {
    font-size: 2.5rem;
  }
  @include s.mobile-view {
    height: 400px;
  }
}