@use "../../styles/variables" as s;

.sheetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  min-width: 200px;
  width: 100%;
  @include s.mobile-view {
    min-height: 400px;
  }
}

.sheetHover {
  &:hover {
    cursor: pointer;
    filter: brightness(95%);
    transform: scale(1.02);
  }
}
