@import "./Sheet.module.scss";

.sheetContainer {
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    filter: saturate(0.8);
    transition: .5s;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}