@use "../../styles/variables" as s;

@keyframes fadeIn {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(112, 110, 110, 0.8);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  animation: .2s ease fadeIn;
}
