.cartItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
  .itemHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    h2 {
      font-size: 1.1rem;
      font-weight: 500;
      white-space: normal;
      max-width: 200px;
    }
  }
  .manageQuantities {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
    button {
      display: flex;
      padding: 0;
      color: white;
      background: #424bff;
      &:hover {
        background: #1823f9;
      }
    }
    select,
    input[type="text"] {
      width: 2rem;
    }
    input[type="text"] {
      text-align: center;
    }
    .quantityForm {
      position: relative;
      input[type="submit"] {
        position: absolute;
        left: 2.5rem;
        top: -0.2rem;
        font-size: 1.1rem;
        background: none;
        border: none;
        color: green;
        font-weight: 800;
        &:hover {
          cursor: pointer;
          color: yellowgreen;
        }
      }
    }
  }
  .closeButton {
    color: black;
    font-size: 0.8rem;
    background: none;
    padding: 0;
    &:hover {
      color: gray;
    }
  }
}
