$margin-top: 0.8rem;

.container {
  position: relative;
  &::before {
    content: "";
    height: $margin-top;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .dropdownContainerRight,
  .dropdownContainerLeft {
    position: absolute;
    min-height: fit-content;
    min-width: fit-content;
    margin: $margin-top 0;
    border-radius: 0.2rem;
    border: 2px solid #c7c5c3;
    background: white;
    color: black;
  }
  .dropdownContainerRight {
    left: 0;
  }
  .dropdownContainerLeft {
    right: 0;
  }
}
