@use "../../styles/variables" as s;

.itemCardContainer {
  min-width: 300px;
  max-width: 300px;
  text-align: center;
  position: relative;
  h2 {
    margin-bottom: .5rem;
  }
  @include s.mobile-view {
    min-width: 200px;
    max-width: 200px;
  }
  .itemContent {
    padding: 1rem .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
  };
}
