@use "../../styles/variables" as s;

.itemCardContainer {
  min-width: 300px;
  max-width: 300px;
  text-align: center;
  position: relative;
  h2 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  @include s.mobile-view {
    min-width: 200px;
    max-width: 200px;
  }
  .itemContent {
    padding: 1rem 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    .description {
      text-overflow: ellipsis;
      overflow: hidden;
      height: 50px;
    }
  }
  .imageWrapper {
    border-radius: 0.5rem;
    overflow: hidden;
  }
}
