.itemCardContainer {
  width: 300px;
  text-align: center;
  position: relative;
  &:hover {
    img {
      filter: brightness(.8);
      cursor: pointer;
    }
  }
  .anchorContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .imageWrapper {
      width: 100%;
    }
  }
}
