$primary-background-color: #0c1981;
$secondary-background-color: #edeae7;
$border-color: #e0dfdb;
$box-shadow: rgb(36, 36, 36);
$dark-font-color: #2c0d0d;
$light-font-color: white;

// mq
@mixin mobile-view {
  @media (max-width: 700px) {
    @content;
  }
}
