@use "variables.scss" as s;

.header,
.footer,
.main {
  text-align: center;
}

.background {
  opacity: 0.7;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: url("../public/images/home-background.jpg");
  background-size: cover;
  background-attachment: local;
}

.main {
  display: flex;
  flex-direction: column;
  .introText {
    flex: 1;
    display: flex;
    flex-direction: column;
    .scrollableText {
      padding: 5rem 5rem 0 5rem;
      height: 90vh;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
    }
  }
  .otherContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background: white;
  }
}

.footer {
  flex: 0;
  padding: 0.5rem;
}


