@use "variables.scss" as s;

.main {
  text-align: center;
}

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: url("../public/images/jamie-hagan-zion.jpg");
  filter: brightness(70%);
  background-size: cover;
  background-attachment: local;
}

.main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  .introText {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .scrollableText {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 3rem;
      max-width: 800px;
      height: 90vh;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
    }
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 4rem 0;
    gap: 4rem;
    .sheetText {
      color: white;
      font-size: 2rem;
      font-weight: bolder;
    }
    .itemCards {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      h2 {
        padding: 0 0 1rem 0;
      }
    }
    .gridSheets {
      display: grid;
      width: 100%;
      padding: 2rem;
      gap: 3rem;
      grid-template: 1fr 1fr / 1fr 1fr;
      @include s.mobile-view {
        padding: 1rem;
        gap: 1rem;
      }
    }
  }
}

.footer {
  flex: 0;
  padding: 0.5rem;
}
