@use "variables.scss" as s;

.header,
.footer,
.main {
  text-align: center;
}

.background {
  opacity: 0.8;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: url('../public/images/home-background.jpg');
  background-size: cover;
}

.main {
  flex: 1;
  padding: 1rem;
}

.footer {
  flex: 0;
  padding: 0.5rem;
}
