.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    .itemContainer {
      height: 200px;
      width: 200px;
      text-align: center;
      h1 {
        font-size: 1.2rem;
      }
      h2 {
        font-size: 1.1rem;
      }
      .itemInfo {
        display: flex;
        justify-content: space-between;
      }
    }
}