.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0 0 0;
  .itemsContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 1rem;
    flex-wrap: wrap;
  }
  .mainContent {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
