@use '_variables.scss' as s;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0 0 0;
  .itemsContainer {
    height: 100%;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
